:root {
    --banner-right: right;
    --Brand-primary: #394A59;
    --Brand-primary-light: #59758d;
    --Brand-secondary: #36BF7F;
    --Brand-secondary-pale: #def4e9;
    --shadow: 0 .25rem .75rem #0002;
    --shadow--large: 0 .25rem .5rem #0002;
    --radius: 0.5em;
    --transition: 0.2s;
    --color-bright: #F7BE1B;
    --color-purple: #58599B;
    --color-brown: #6C5F2F;
    --color-secondary-brown: #528aa4;
    --color-light-brown: #E9EBF1;
    --color-white: #fff;
    --color-black: #000;
    --color-pink: #F9E9ED;
    --bg-light: rgb(225, 221, 216);
}

/* Navbar */
.navbar {
    background-color: var(--color-white);
    color: var(--color-white);
    border-top: 0.5rem solid var(--color-pink);
    padding-left: 2rem;
    padding-right: 2rem;
}

.navbar .container, .footer .container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    margin-top: 1rem;
}

.nav__logo {
    display: flex;
    gap: 0.75rem;
    color: var(--color-white);
    text-decoration: none;
    align-items: center;
}

.nav__icon, .footer__icon {
    width: 5rem;
}

.nav__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    list-style-type: none;
    width: 100%;
    padding: 0;
}

.nav__link {
    color: var(--color-black);
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 0.8rem;
    flex: 100%;
}

.nav__link:hover {
    background-color: var(--color-pink);
    color: var(--color-white);
}

/* Navbar ends */

/* Banner */
.banner {
    min-height: 65vh;
    padding: 3rem 0;
    display: flex;
    align-items: center;
    background-color: #777;
    /* background-image: url("../images/marcus-loke-xXJ6utyoSw0-unsplash.jpg"); */
    background-image: url("../images/pexels-edgars-kisuro-1488463.jpg");
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    color: var(--color-white);
}

.banner__title {
    color: var(--color-pink);
}

.banner__content {
    width: min(35em, 100%);
}

.banner__text a:hover {
    color: var(--color-pink);
}

.btn {
    display: inline-block;
    padding: .55em 1.5em .5em;
    background-color: var(--color-pink);
    color: #000;
    border-radius: .25em;
    text-decoration: none;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
}

.btn:hover,
.btn:focus {
    background-color: var(--color-bright);
    color: var(--color-white);
}

/* Banner ends */

/* card group */

.card-group {
    background-color: var(--bg-light);    
    padding: 5rem;
}

.image-content__image {
    background-color: var(--color-secondary-brown);
    display: flex;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 0;
}

.xs-1 {
    grid-column: span 12;
}

.card {
    /* display: block; */
    width: 100%;
    border-radius: var(--radius);
    overflow: hidden;
    box-shadow: var(--shadow--large), var(--shadow);
    text-decoration: none;
    color: var(--color-primary);
    transition: all var(--transition);
    background-color: var(--color-white)
}

.card:hover,
.card:focus {
    transform: translateY(-0.55rem);
    box-shadow: var(--shadow--large);
    color: var(--color-black);
}

.image-content__image img {
    width: 100%;
    display: block;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.image-content__content {
    padding: 1rem;
    text-align: center;
}

.image-content__title {
    font-size: 1.44rem;
}

h2 {
    font-size: 1.728rem;
}

.grid-cards {
    gap: 1.5rem;
}

.grid-cards .col {
    display: flex;
}

.grid-cards .card {
    display: flex;
    flex-direction: column;
}

/* card group ends */

/* Adventure section */

.btn_adventure {
    display: inline-block;
    padding: .55em 1.5em .5em;
    background-color: var(--Brand-primary);
    border: 0.125rem solid var(--Brand-primary);
    color: var(--color-white);
    border-radius: .25em;
    text-decoration: none;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
}

.btn_adventure:hover,
.btn_adventure:focus {
    background-color: var(--color-bright);
    border: 0.125rem solid var(--color-pink);
    color: #000;
}

.adventure-content .container {
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: grid;
    gap: 2rem;
    align-items: center;
}

.adventure-content__image {
    aspect-ratio: 1 / 1;
    display: flex;
}

.adventure-content__image img {
    object-fit: cover;
}

.adventure-content__title {
    font-size: 1.756rem;
    line-height: 1.3;
}

.adventure-content__content {
    background-color: var(--color-pink);
    padding: 2.5rem;
    text-align: center;
}

/* Adventure section ends */


/* Second page */

/* Blog post */

.blog_post_title {
    color: var(--color-secondary-brown);
}

.blog_post__content {
    padding: 1rem;
    text-align: center;
}

.blog_post__title {
    font-size: 1.44rem;
}

.blog_post {
    background-color: var(--bg-light);
    padding: 5rem;
}

.blog_banner {
    min-height: 70vh;
    padding: 3rem 0;
    display: flex;
    align-items: end;
    background-color: #777;
    background-image: url("../images/blog-image-adventurers.jpg");
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    color: var(--color-white);
}

.blog_post_content .container {
    display: grid;
    gap: 1.5rem;
    container-name: outer;
    container-type: inline-size;
    margin-top: 2rem;
}

.title_intro {
    padding: 1.5rem;
    background-color: var(--color-light-brown);
    border-bottom: 0.4rem solid var(--color-purple);
}

.blog_post_title__::after {
    content: "";
    display: block;
    width: 15%;
    border-bottom: 0.3rem solid var(--color-purple);
}
/* Blog post ends */

/* Sidebar */
.related_post .related_post__title {
    font-size: 1.7rem;
}

.blog_post_list {
    color: var(--color-brown);
    text-decoration: none;
}



.related_post a:hover,
.related_post a:focus {
    color: var(--color-purple);
}

.related_post {
    padding: 1.5rem 2.5rem;
    background-color: var(--color-light-brown);    
    border-bottom: 0.4rem solid var(--color-purple);
    border-radius: 1rem;
}

.related_post {
    margin-bottom: 2rem;
}

/* Sidebar ends */

/* Second page ends */


/* To Top */

.to-top {
    position: fixed;
    bottom: -0.5rem;
    right: 1.5rem;
    background-color: var(--color-pink);
    color: var(--color-primary);
    padding: 0.5rem 0.5rem 1rem;
    border-radius: 0.5rem 0.5rem 0 0;
    text-decoration: none;
    box-shadow: var(--shadow);
    translate: 0 100%;
    transition: translate var(--transition), bottom var(--transition);
}

.to-top.visible {
    translate: 0;
}

.to-top:hover,
.to-top:focus-visible {
    bottom: 0;
    color: #000;
    translate: 0;
}

/* To Top */

.article_footer {
    padding: 1.5rem;
    background-color: var(--color-light-brown);
    border-bottom: 0.3rem solid var(--color-purple);
    border-radius: 1rem;
}

.article_footer a {
    color: var(--color-brown);
}

/* Footer */

.footer {
    background-color: var(--color-black);
    color: var(--color-white);
    border-top: 0.5rem solid var(--color-white);
    padding-left: 2rem;
    padding-right: 2rem;
}
.footer .container {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.footer__logo {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    color: var(--color-white);
    text-decoration: none;
}

.footer__list {
    padding-left: 1.5rem;
    margin: 0;
    border-left: 0.125rem solid var(--color-white);
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.footer__link,
.footer_items a {
    color: var(--color-white);
    text-decoration: none;
}

.footer__link:hover,
.footer__link:focus,
.footer_items a:focus,
.footer_items a:hover {
    color: var(--color-white);
}

.footer_items {
    display: flex;
    flex-direction: column;
}

/* Footer ends */

form {
    max-width: 40rem;
    margin: 0 auto;
    padding: 3rem;
    background-color: var(--white);
    border-radius: 1.9rem;
    box-shadow: var(--shadow);
    margin-top: 3rem;
}

form .btn {
    display: block;
    text-align: center;
    width: 100%;
}

.form-unit {
    padding-bottom: 1rem;
}

.contact-us {
    display: grid;
    gap: 1rem;    
}

label,
.label {
    display: block;
    margin-bottom: 0.25rem;
    font-weight: 600;
}

label[for="fName"],
    [for="email"],
    [for="tel"],
    [for="subject"],
    [for="message"],
.label {
    text-transform: uppercase;
}

input:where([type="text"],
    [type="number"],
    [type="email"],
    [type="tel"],
    [type="password"]),
select,
textarea {
    display: block;
    width: 100%;
    padding: 0.5rem;
    border: 0.0625rem solid #ddd;
    border-radius: var(--radius);
}

[type="checkbox"],
[type="radio"],
[type="checkbox"]+label,
[type="radio"]+label {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    font-weight: 400;
}

[type="checkbox"],
[type="radio"] {
    width: 1.5rem;
    height: 1.5rem;
    accent-color: var(--color-accent);
}

input[type="radio"]:hover,
[type="radio"]:focus {
    outline: 0.13rem solid var(--color-accent);
}

.radio-grid {
    display: flex;
    align-items: flex-start;
    gap: 3rem;
}

.full {
    grid-column: 1 / -1;
}

.checkbox-wrap {
    display: flex;
    gap: 0.5rem;
}

.checkbox-wrap input {
    margin-right: 0.25rem;
}

input[type="text"]:valid,[type="email"]:valid,[type="tel"]:valid,
select:valid,
textarea:valid {
    border: 0.1rem solid var(--color-secondary);
}

@media only screen and (min-width: 45em) {
    .navbar .container, .footer .container {
        margin-top: 0;
        flex-direction: row;
        justify-content: space-between;
    }

    .nav__logo {
        margin-left: 2rem;
    }

    .nav__list {
        display: flex;
        flex-direction: row;
        width: auto;
    }

    .nav__link {
        padding: 1.5rem;
    }

    .blog_post_content .container {
        grid-template-columns: 2fr 1fr;
    }
    
    .footer__logo {
        flex: 2 0;
        align-self: flex-start;
    }
    
    .footer__nav,
    .footer__copyright {
        flex: 1 0;
    }

    .adventure-content .container {
        grid-template-columns: 1fr 2fr;
    }
    
    .adventure-content__title {
        font-size: 2.069rem;
    }

    .m-1-2 {
        grid-column: span 6;
    }
    
    .related_post {
        position: sticky;
        top: 2rem;
    }

    .contact-us {
        grid-template-columns: repeat(2, 1fr);
    }

    .form-unit {
        padding-bottom: 1.5rem;
    }
}

@media only screen and (min-width: 60em) {
    .l-1-4 {
        grid-column: span 4;
    }

    h2 {
        font-size: 2.488rem;
    }

    .adventure-content .container {
        grid-template-columns: 1fr 1fr;
    }

    .adventure-content__title {
        font-size: 2.444rem;
    }

    .related_post{
        position: sticky;
        top: 2rem;
    }
}